body {
  background-color: #626262;
}




#navbarc {
  background: #f7ffff;
  box-shadow: 0px 4px 4px rgba(111, 111, 111, 0.25);
}

#div-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.nav-li {
  color: #18191a;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.nav-li:hover {
  color: #18191a;
}

#img-logo {
  display: none;

  margin-right: 2.1px;
}

.nav-logo-link:hover #img-logo {
  display: inline-block;
  margin-left: -14px;
}

.div-logo-motiva a {
  text-decoration: none;
  color: #4c7a7c;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.div-logo-motiva a:hover {
  color: #4c7a7c;
}

/* Footer */

.footer-p img {
  display: none;
}

.div-footer {
  height: 193px;
  background: #4c7a7c;
  border-radius: 45px 45px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  height: 100%;
}

.footer-links {
  gap: 24px;
}

.footer-texto {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-left: 24px;
}
.footer-texto-div {
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: flex-end;
}

.footer-texto-div a:hover {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-motiva {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.ubi-footer p {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.ubi-footer img {
  margin-right: 17px;
  margin-top: -12px;
}

.ubi-footer {
  margin-left: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.div-footer-redes a {
  margin-left: 26px;
}

.div-footer-redes {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.footer-p {
  margin-top: 40px;
  margin-left: 80px;
}

/* CAPACITACIONES */

.img-cap-1{
  display: none;
}


.capacitaciones-1 {
  margin-top: 64px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 128px;
}

.capacitaciones-texto-1 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 21px;
}

.capacitaciones-texto-1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.4674px;
  max-width: 507px;
  max-height: 300px;
}

.capacitaciones-texto-1 p a {
  color: #18191a;
}
.capacitaciones-texto-1 p a:hover {
  color: #18191a;
}

.capacitaciones-texto-1 {
  margin-left: 100px;
}

.capacitaciones-img-1{
  width: 600px;
}



.capacitaciones-texto-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.capacitaciones-texto-2 span {
  color: #4c7a7c;
}

.capacitaciones-2 {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 95px;
  margin-bottom: 64px;
}

.capacitaciones-card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.capacitaciones-card .capacitaciones-texto-3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 150%;
}

.capacitaciones-texto-2-m {
  display: none;
}

.capacitaciones-texto-3 {
  max-width: 307px;
  max-height: 147px;
}

.capacitaciones-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-top: 100px;
}

.capacitaciones-p {
  max-width: 926px;
  max-height: 144px;
  margin: 0 auto;
}

.capacitaciones-p p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.capacitaciones-img2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 96px;
}

.capacitaciones-div-h2-1 {
  display: flex;
  justify-content: center;
}

.capacitaciones-h2-1 {
  color: #4c7a7c;
  text-align: center;
  max-width: 845.84px;
  margin-bottom: 64px;
}

.capacitaciones-h2-1 a {
  color: #18191a;
}

.capacitaciones-h2-1 a:hover {
  color: #18191a;
}

/* QUIENES SOMOS */

.detalle-qs {
  display: none;
}

.quienessomos1 {
  display: flex;
  justify-content: center;
  gap: 43px;
  margin-top: 78px;
  margin-bottom: 100px;
}

.quienessomos1 div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.quienessomos-p {
  max-width: 900px;
  max-height: 260px;
}

.quienessomos-p p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.quienessomos2 {
  display: flex;
  margin-top: 200px;
  gap: 363px;
  margin-left: 17%;
  margin-bottom: 100px;
}

.quienessomos2 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-top: 5%;
}

.quienessomos-card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  margin-bottom: 19px;
}

.div-card-qs {
  width: 90%;
  margin-bottom: 60px;
}

.div-card-qs .qs-act {
  margin-top: 30px !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
}

.div-card-qs .qs-act-li {
  font-weight: 400;
  font-size: x-large;
  line-height: 150%;
  text-align: center;
}

.quienessomos-card p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

.quienessomos-card {
  height: 110;
  box-shadow: rgba(54, 54, 54, 0.3) 0px 4px 4px;
  width: 632px;
  border-radius: 15px;
  margin-top: 14.31px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quienessomos-card img {
  margin-top: 33px;
  margin-bottom: 63px;
}

.div-quienessomos-card {
  display: flex;
  justify-content: center;
  gap: 95px;
}

.icon-quienes-somos {
  display: flex;
  justify-content: center;
  margin-top: 62.17px;
  margin-bottom: 79.17px;
}

.div-cuadros-quienesomos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.div-cuadros {
  width: 443px;
  height: 259px;
  box-shadow: 0px 4px 4px rgba(54, 54, 54, 0.3);
  border-radius: 8px;
  margin-bottom: 50px;
}

.div-cuadros h3 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-top: 49px;
  margin-bottom: 30px;
}

.div-cuadros p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.div-texto-img h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.div-texto-img img {
  margin-left: 10px;
}

.div-texto-img {
  margin-top: 20px;
  margin-bottom: 50px;
}

.animales-desc {
  width: 455px;
  height: 355px;
  box-shadow: 0px 4px 4px rgba(54, 54, 54, 0.3);
  border-radius: 15px;
  margin-bottom: -200px;
}

.animales-desc img {
  margin-left: 100px;
  margin-bottom: 25px;
}

.animales-desc h3 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

.div-animales-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 300px;
  margin-bottom: 600px;
}

.preguntas-frecuentes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 200px;
}

.div-preguntas {
  margin-left: 129px;
}

.div-preguntas p {
  margin-top: 40px;
  margin-bottom: 73px;
}

.link-quienessomos {
  display: flex;
  align-items: center;
}

.link-quienessomos h3 {
  color: #4c7a7c;
  flex-grow: 1;
  text-align: center;
  margin-left: -176px;
}

.link-quienessomos a {
  color: #18191a;
  text-align: center;
}

.link-quienessomos a:hover {
  color: #18191a;
}

.link-quienessomos img {
  margin-left: 48px;
}

/* medias q */

@media screen and (max-width: 1400px) {
  .nav-logo-link a{
    font-size: 14px ;
  }
}

@media screen and (max-width: 1250px) {
  .div-footer-redes {
    margin-right: 20px;
  }
  .div-foote {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-texto-div {
    margin-right: 20px;
  }

  #navbarc {
    width: 100%;
  }
  .img-1 {
    width: 600px;
    margin-left: 0;
  }
  .quienessomos-p {
    max-height: 100%;
    max-width: 400px;
  }
  .patita-qs {
    margin-right: 0;
    /* margin-left: -10px; */
  }

  .quienessomos2 {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-left: 0;
  }
  .quienessomos2 img {
    margin-left: 110px;
  }

  .quienessomos2 h2 {
    text-align: center;
    margin-left: -230px;
    flex-grow: 1;
  }
  .img-d-c {
    display: none;
  }
  .div-texto-img h2 {
    margin-left: 0;
  }

  .quienessomos-card{
    margin-left: 20px;
    margin-right: 20px;
  }
  .div-quienessomos-card{
    gap: 10px;
  }

  .capacitaciones-img2 img{
    width: 100%;
  }

}

@media screen and (max-width: 1200px){
  .footer-texto-div a{
    font-size: 14px !important;
  }
  .capacitaciones-img-1{
    width: 430px;
  }
  .capacitaciones-2{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1198px) {
  .nav-logo-link a{
    font-size: 13px ;
  }
}

@media screen and (max-width: 768px) {
  .footer-p img {
    display: inline-block;
    width: 51.37px;
    height: 52.47px;
  }

  .footer-motiva {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 0 50px;
  }

  .footer-motiva span {
    display: none;
  }

  .footer-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 39px;
    margin-bottom: 40px;
  }

  .div-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .footer-texto-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-texto-div a {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  .ubi-footer {
    display: flex;
    justify-content: center;
    margin-left: -9px;
  }

  .ubi-footer a p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .div-footer-redes a {
    display: none;
  }

  /* quienes somos */

  .quienessomos1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .patita-qs {
    display: none;
  }

  .img-1 {
    width: 100%;
    margin-bottom: 25px;
    margin-top: -80px;
  }

  .media-qs {
    margin-top: -10px;
  }

  .media-qs h2 {
    text-align: center;
    margin-bottom: 18px;
  }

  .quienessomos-p {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }


  .quienessomos2 {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    margin-right: 0px;
    gap: 0px;
    margin-left: 30%;
  }

  .quinessomos2 h2 {
    text-align: center;
  }

  .quienessomos-p p {
    text-align: center;
  }

  .quienessomos2 img {
    display: none;
  }

  .quienessomos-card {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .quienessomos-card img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }

  .quienessomos-card h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

  .quienessomos-card h3 span {
    display: none;
  }

  .div-quienessomos-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .quienessomos-card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .div-cuadros {
    width: 256px;
    height: 229px;
  }

  .div-cuadros h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .div-cuadros-quienesomos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .div-cuadros p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin: 0;
  }

  .animales-desc {
    width: 456px;
    height: 347px;
    display: flex;
    flex-direction: column;
  }

  .animales-desc img {
    width: 97px;
    margin: 25px 0 40px 170px;
  }

  .animales-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }

  .qs-mobile {
    display: none;
  }

  .img-qs-m {
    display: none;
  }

  .div-preguntas h3 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 27px;
    margin: 0;
  }

  .div-preguntas p {
    text-align: center;
  }

  .div-preguntas {
    display: flex;
    justify-content: center;
    width: 97vw;
    flex-direction: column;
    margin-top: -240px;
    margin-left: 0;
    margin-bottom: -200px;
  }

  .link-quienessomos {
    display: none;
  }

  .detalle-qs {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
  }

  .detalle-qs img {
    width: 190px;
  }

  .preg-b {
    width: 100%;
  }

  #navbarc {
    width: 100%;
  }

  /* capacitacioes */


  .capacitaciones-1 {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .capacitaciones-img-1{
    display: none;
  }

  .img-cap-1 {
    display: inline-block;
    width: 100%;
  }

  .capacitaciones-texto-1 {
    margin: 0;
  }

  .capacitaciones-texto-1 h2 {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .capacitaciones-texto-1 p {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  }

  .capacitaciones-texto-2 {
    display: none;
  }

  .capacitaciones-texto-2-m {
    display: flex;
    gap: 8px;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
  }

  .capacitaciones-texto-2-m span {
    color: #4c7a7c;
  }
  .preg-b {
    width: 100%;
  }

  .capacitaciones-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .capacitaciones-card {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    width: 100%;
  }

  .capacitaciones-card h3 {
    font-size: 34px;
  }

  .capacitaciones-card img {
    width: 100%;
    margin-bottom: 50px;
  }

  .capacitaciones-texto-3 {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0px;
  }

  .capacitaciones-texto-3 p {
    text-align: center;
  }

  .capacitaciones-h2 {
    margin-top: 40px;
  }

  .capacitaciones-p {
    max-height: 100%;
  }

  .capacitaciones-img2 img {
    margin-top: -100px;
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .capacitaciones-img2 {
    margin-top: 200px;
  }

  .div-texto-img h2 {
    text-align: center;
    margin: 0;
    margin-right: -100px;
  }
  .div-texto-img {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .div-texto-img img {
    width: 100px;
    margin: 0;
  }
  .preg-b {
    width: 100%;
  }
  .div-texto-img img{
    width: fit-content;
    margin-left: 10px;
  }
  .div-texto-img h2{
    font-size: 27px;
    margin-right: -10px;
  }
  .animales-desc{
    width: 300px;
    height: 300px;
  }
  .animales-desc img{
    margin: 50px auto;
   
  }
  .animales-desc h3{
    margin-top: 0px;
  }
}

@media screen and (max-width: 468px) {
  .div-texto-img img {
    display: none;
  }

  .div-texto-img {
    width: 100%;
    margin-bottom: 50px;
  }

  .div-texto-img h2 {
    margin: 0;
  }

  .animales-desc {
    width: 320px;
    height: 247px;
    display: flex;
    justify-content: center;
  }

  .animales-desc img {
    margin: 0 auto;
    margin-top: 40px;
  }

  .animales-desc h3 {
    margin: 0;
  }

  .animales-desc div {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin: 0;
    width: 100%;
  }

  .preg-b {
    width: 320px;
    margin: 0 auto;
  }

  .quienessomos-p p {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .div-preguntas h3 {
    font-size: xx-large;
  }
}

/* css de noel */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins";
  box-sizing: 0;
}

.carousel-indicators [data-bs-target] {
  width: 0.5em !important;
  height: 0.5em !important;
  border-radius: 100% !important;
}
.carousel-indicators .active {
  opacity: 1 !important;
  background-color: #5dbc8f !important;
}

.backgroundPrimary {
  background-color: #f7ffff !important;
}

.bienvenidaContainer {
  padding: 3% 11% !important;
}
@media (max-width: 768px) {
  .bienvenidaContainer {
    padding: 2em !important;
  }
}
.btn {
  width: 11.875em !important;
  text-align: center !important;
  padding: 0.6em !important;
}
.btn-primary {
  margin-top: 3vw;
  background-color: #4c7a7c !important;
  border-color: #4c7a7c !important;
  --bs-btn-hover-bg: #3a5e60 !important;
  box-shadow: 0px 3px 7px grey !important;
  border-radius: 1em !important;
}
.titulos1 {
  font-family: "Poppins";
  font-size: 2.5em !important;
  font-weight: 900 !important;
  line-height: 2em !important;
  letter-spacing: 0em !important;
  text-align: center !important;
}
@media (max-width: 768px) {
  .titulos1 {
    font-size: 2em !important;
    line-height: 1.2em !important;
  }
}
.bienvenidaTexto {
  font-family: Poppins !important;
  font-size: 1.25em !important;
  line-height: 1.875em !important;
  text-align: center !important;
}
.titulosActive {
  color: #4c7a7c !important;
}
.textoImagenIzquierda {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  width: 100%;
  padding-top: 5vw;
  padding-bottom: 2vw;
  align-items: center !important;
}
@media screen and (max-width: 900px) {
  .textoImagenIzquierda {
    flex-direction: column !important;
    padding: 0 !important;
    align-items: center !important;
  }
}
.textoTextoImagenIzquierda {
  display: flex !important;
  flex-direction: column !important;
  padding: 0 3vw;
  width: 40vw !important;
  padding-top: 3em !important;
}
@media screen and (max-width: 900px) {
  .textoTextoImagenIzquierda {
    align-items: center !important;
    padding: 2em 2em !important;
    width: 100% !important;
  }
}
h3 {
  font-family: 43.75em !important;
  font-weight: 900 !important;
}
.fotos {
  margin: 1em !important;
  height: auto !important;
}
@media screen and (max-width: 768px) {
  .fotos {
    margin: 0 !important;
    width: 80%;
    border-radius: 0 !important;
  }
}
#imgQuiene {
  margin-top: -4vw !important;
}
#perrito1 {
  margin-left: 20em !important;
  margin-top: 4em !important;
}
@media screen and (max-width: 900px) {
  #perrito1 {
    display: none !important;
  }
}
.textoCentrado {
  text-align: center !important;
  align-items: center !important;
}
.nuestrasterapiasBienvenida {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.cardsContainer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: flex-start !important;
}
.cardContainer {
  width: auto !important;
  margin: 2vw;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  flex-direction: column !important;
  justify-content: center !important;
}
@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column !important;
  }
  .cardContainer {
    width: 100% !important;
    margin: 0 !important;
  }
}
.cardImageB {
  width: 25vw !important;
  padding-bottom: 1.813em !important;
}
.titulos3 {
  font-size: 1.5em !important;
  font-weight: 700 !important;
  padding-bottom: 0.3em !important;
  max-width: 51.37em !important;
}
.textoImagenDerecha {
  width: 100% !important;
  padding-top: 5vw;
  padding-bottom: 2vw;
  align-items: center !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}
.textoTextoImagenDerecha {
  width: 40vw !important;
  padding: 0 3vw;
}
@media screen and (max-width: 900px) {
  .textoImagenDerecha {
    flex-direction: column !important;
    flex-direction: column-reverse !important;
    margin: 0 !important;
    margin-top: 3em !important;
    align-items: center !important;
  }
  .textoTextoImagenDerecha {
    text-align: center !important;
    width: 100% !important;
    margin: 0.1em !important;
    padding: 2em 2em !important;
  }
}
.nuestrosPacientesCardsCarrousel {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .capacitacionesTexto {
    width: auto !important;
  }
  #conejito {
    display: none !important;
  }
  .nuestrosPacientesCards {
    display: none !important;
  }
  .nuestrosPacientesCardsCarrousel {
    display: block !important;
  }
}

.card {
  border: none !important;
}
.cardComentario {
  width: 15vw !important;
  height: 16vw !important;
}
.huellasBackground {
  background-image: url("./components/images/huella.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 28em !important;
  position: relative !important;
}
.nuestrosPacientesDicenB {
  padding: 4em !important;
  background-color: white !important;
  position: relative !important;
}

.preFooterB {
  position: relative !important;
  padding-top: 11.5em !important;
  padding-bottom: 5em !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
@media screen and (max-width: 768px) {
  .preFooterB {
    padding: 2em !important;
  }
}
.huellasBackground::before {
  content: "" !important;
  background-image: url(".//components/images/huella.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 28em !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 2 !important;
}
@media screen and (max-width: 768px) {
  .huellasBackground {
    background: none !important;
  }
  .huellasBackground::before {
    content: none !important;
  }
}
#perrito2 {
  position: absolute !important;
  bottom: 0 !important;
  left: 3em !important;
}
@media screen and (max-width: 768px) {
  #perrito2 {
    left: 0 !important;
  }
}

.imgPortada {
  width: 100% !important;
}
h3 {
  margin-bottom: 0 !important;
}
.textoServiciosMobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  #tresperros {
    display: none !important;
  }
  #perrito3 {
    width: 3.5em !important;
  }
  .textoServiciosDesktop {
    display: none !important;
  }
  .textoServiciosMobile {
    display: block !important;
  }
}
.normalText {
  text-decoration: none !important;
  color: black !important;
}
#perrito4 {
  position: relative !important;
  left: 80% !important;
  top: -2em !important;
}
@media screen and (max-width: 768px) {
  #perrito4 {
    left: 40% !important;
    top: 0 !important;
  }
}

.ayudarte {
  color: black !important;
  font-size: 2vw;
}
.ayudarte span {
  font-size: 2vw;
}
@media (max-width: 768px) {
  .ayudarte {
    font-size: 5vw;
  }
  .ayudarte span {
    font-size: 5vw;
  }
}
.sobreElProceso {
  background-color: #89d0d4e5 !important;
  padding: 3em 0 !important;
}
.sobreElProceso p {
  padding: 2% 20%;
}
.pasosDesktop {
  display: flex !important;
  flex-direction: row !important;
  justify-items: center !important;
  justify-content: center !important;
}
.textoPasos {
  width: 25% !important;
  height: 100% !important;
  padding: 2em !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  justify-items: center !important;
  align-items: center !important;
  text-align: center !important;
  z-index: 2 !important;
}
.line-with-circles {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 50px !important;
  position: relative !important;
}

.line-with-circles::before {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  right: 0 !important;
  border-top: 3px solid #4c7a7c !important;
  width: 100% !important;
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.circle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  font-size: 24px !important;
  font-weight: bold !important;
  color: #4c7a7c !important;
  background-color: white !important;
  position: relative !important;
  z-index: 1 !important;
}
.big {
  width: 70px !important;
  height: 70px !important;
  font-size: 36px !important;
}

.small {
  width: 25px !important;
  height: 25px !important;
  font-size: 10px !important;
  background-color: #4c7a7c !important;
}
.lineaNumerosMobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .lineaNumerosDektop {
    display: none !important;
  }
  .pasosDesktop {
    display: none !important;
  }
  .lineaNumerosMobile {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .line-with-circles {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative !important;
    height: 100% !important;
  }

  .line-with-circles::before {
    content: "" !important;
    width: 50% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 49.6% !important;
    border-left: 3px solid #4c7a7c !important;
    border-top: none !important;
    z-index: 1 !important;
  }
  .textoPasos {
    background-color: white !important;
    border-radius: 8px !important;
    width: 330px !important;
  }
}
.carousel-control-next-icon {
  filter: invert(1) !important;
}
.carousel-control-prev-icon {
  filter: invert(1) !important;
}
.carousel-control-next,
.carousel-control-prev {
  width: auto !important;
}
.containerIcon {
  border-radius: 100% !important;
  background-color: #3a5e60 !important;
  width: 6em !important;
  padding: 1em !important;
}
.redesIcon {
  color: white !important;
  font-size: 4em !important;
}
.containerVias {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}
@media screen and (max-width: 768px) {
  .containerVias {
    flex-direction: column !important;
  }
}
.vias {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin: 5em !important;
}

.siguenos {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 20px !important;
}

.title-line {
  height: 0.1em !important;
  color: #4c7a7c !important;
  background-color: #4c7a7c !important;
  flex: 1 !important;
  margin: 0 2em !important;
  border: 2px solid #4c7a7c !important;
  opacity: none !important;
}

.siguenosIcons {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}
.siguenosRedS {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
p {
  font-size: 1.2vw !important;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1.4em !important;
    padding: 1em !important;
  }
  .div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-texto-div {
    margin: 0;
  }
  .navbar-toggler {
    width: 3em;
  }
  #div-nav {
    display: flex;
    flex-direction: row;
  }
  #nav-links {
    align-items: center;
  }
  p {
    font-size: 3.5vw !important;
  }
}
.textoServicios {
  padding: 0px !important;
  margin: 0px !important;
}
.btnC {
  padding: 0 !important;
  margin: 0 !important;
}
.btnShow {
  padding: 0 !important;
  margin: 0 !important;
}
#fotoA {
  padding-top: 3.5em;
}
.btn-primary:hover {
  background-color: #447070 !important;
}
#capaB {
  width: 30em;
  border-radius: 10px;
}

#tep {
  border-radius: 30px;
  transform: translateY(-20px);
}

.fotos {
  width: 40vw;
}
@media (max-width: 768px) {
  .fotos {
    width: 85% !important;
  }
}
h4 {
  font-weight: 900 !important;
  font-size: 1.8vw !important;
}
@media (max-width: 768px) {
  h4 {
    font-size: 4vw !important;
  }
}
.imgPerrito {
  width: 8vw !important;
}
@media (min-width: 768px) {
  .card33 div {
    max-width: 26vw !important;
  }
}
